{% extends 'base.html' %}

{% block head %}
  <title>Films Wrapped</title>

{% endblock %}

{% block body %}
  <div class="container col-md-6">

    <div id="inputScreen">
      <h1>Uncover Your Movies</h1>
      <p class="lead">Punch in your Letterboxd username to get cooking. Hit the ? for more information.</p>
      <div class="input-group ">
          <input id="usernameInput" style="border-radius: 5px;" type="text" class="form-control" placeholder="Username" aria-label="Username">
      </div>
      <div class="m-2">
          <button id="usernameInputBtn" type="button" class="btn btn-light">Punched</button>
      </div>
      <div class="lead">
          <p id="usernameInError" style="color: red;"></p>
      </div>
    </div>
    <div id="loadingScreen" style="display: none;">
      <h1>I'm Workin' Here!</h1>
      <p class="lead">This can take up to 10 minutes for first time users.</p>
      <div id="loading" class="loader text-center" ></div>  
    </div>   
    

    </div>
  </div> 

  <script>
    document.addEventListener('DOMContentLoaded', function() {
    // Place your existing JavaScript code here

    document.getElementById('usernameInput').addEventListener('keyup', function (event) {
        if (event.key === 'Enter') {
            var username = document.getElementById('usernameInput').value;
            if (validateInput(username)) {
                run(username);
            }
        }
    });

    document.getElementById('usernameInputBtn').addEventListener('click', function () {
        var username = document.getElementById('usernameInput').value;
        if (validateInput(username)) {
            run(username);
        }
    });

    function validateInput(username) {
        var regex = /^[a-zA-Z0-9_]+$/;

        if (regex.test(username)) {
            document.getElementById('usernameInError').innerText = "";
            return true;
        } else {
            document.getElementById('usernameInError').innerText = "These are not the characters you're looking for.";
            return false;
        }
    }

    function run(input) {
        document.getElementById('inputScreen').style.display = 'none';
        document.getElementById('loadingScreen').style.display = 'block';

        console.log(input)

        var ajaxOptions = {
            type: 'POST',
            url: '/process',
            data: { 'username': input },
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',  // Change content type if not a file
            processData: true,
            success: function (response) {
                $('#loadingScreen').hide();
                window.location.href = '/dashboard';
            },
            error: function (error) {
                console.error(`Error `, error);
            }
        };

        $.ajax(ajaxOptions);
    }

});
  </script>

   
{% endblock %}
